{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <span class="display-4 logo-font text-black"><strong>Smart Racks</strong> to upgrade your <strong>Kitchen Automation</strong></span>
            <div class="my-5">
                <p>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 page-header py-1">
        <h2 >Stay in Touch:</h2>
        <hr class="block-divider block-divider--short mb-2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 footer-section">
        <p class="footer-about">Our mission
          is to create innovative solutions that make a difference in people's lives.</p>
        <div class="social-links">
          <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
        </div>
        <hr>
        <p>© 2025 SmartRack. All rights reserved.</p>
      </div>
      <div class="col-lg-3 footer-section">

      </div>
      <div class="ml-embedded" data-form="JDx4O8">

      </div>
    </div>
  </div>
</footer>
{% endblock %}
